@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.kanit {
  font-family: var(--font-kanit);
}

.noto_sans {
  font-family: var(--font-noto_sans);
}

.heading-hero {
  font-size: 50px;
}

.menu {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
  color: #333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

.menu::before {
  right: auto;
  bottom: auto;
  width: 120%;
  height: 100%;
  transform-origin: left top;
  transform: skewX(-30deg) scale(0, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #333;
  transition: transform .3s;
}

.menu:hover::before {
  transform-origin: right top;
  transform: skewX(-30deg) scale(1, 1);
}

.menu:hover {
  color: #fff;
  background-color: purple;
}

.navigation-link {
  color: black;
  cursor: pointer;
}

.dark .navbar-logo {
  content: url('/zielwhite.png');
  /* Dark mode logo */
}

.dark .zielporto {
  content: url('/zielporto.png');
  /* Dark mode logo */
}

.dark .portoziel {
  content: url('/portozielwhite.png');
  /* Dark mode logo */
}

.dark .artofziel {
  content: url('/artofzielwhite.png');
  /* Dark mode logo */
}

.dark .jiwakita {
  content: url('/jiwakitawhite.png');
  /* Dark mode logo */
}

.dark .academiku {
  content: url('/academikuwhite.png');
  /* Dark mode logo */
}

.border-wrapper {
  --s: 15px; /* the size on the corner */
  --t: 2px;  /* the thickness of the border */
  --g: 20px; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #09090b; /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: .4s;
}

.dark .border-wrapper {
  --s: 15px; /* the size on the corner */
  --t: 2px;  /* the thickness of the border */
  --g: 20px; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #fafafa; /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: .4s;
  z-index: 10;
}
